* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434;
    font-family: Karla, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    height: 400px;
    max-width: 800px;
    border-radius: 5px;
}

.dice-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 1.25em;
}

.die {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.die-num {
    font-size: 2rem;
}